/* Navbar Superior */
    /* Color base */
    .navbar-principal{
        
        background-color: rgb(43, 93, 151); 
        transition: background-color 0.2s ease; /* Transición */
        color: #000000;
        font-weight:600;
        text-align: center;  
    }

    p.lead {
        text-align: center;
        padding: 0px;
    }

    /* Hover */
    .navbar-principal:hover{
        background-color: rgb(24, 52, 85); /* Azul mas claro */
        transition: color 0.2s ease; 
        color: #ffffff;
    }

/* Footer */
    /* Color base */
    footer {
        background-color: rgb(43, 93, 151); 
        transition: background-color 0.2s ease; 
        color: #000000;
        padding: 15px; /* Para que no quede tan pegado al texto */
    }
    /* Hover */
    footer:hover {
        background-color: rgb(24, 52, 85);
        transition: color 0.2s ease; 
        color: #ffffff;
    }


/* Otros */
header {
    background-color:#a6c8dd;
    color: rgb(0, 0, 0);
    text-align: center;
}

body {
    background-color:  #d9eff3;
}

img {
    display: block;
    margin: 0 auto;
    }

.container-img{
    padding: 0px 20px;
}

h2 {
        background-color: rgb(43, 93, 151) ;
        color: #ffffff ;
        padding: 10px 10px ;
        border-radius: 4px ;     /* bordes redondeados */  
}

h2.alt, h4.alt {
        text-align: center;
        background-color: rgb(252, 255, 166) ;
        padding: 10px 10px ;
        color: #000000 ;
        border-radius: 4px ;   
}

h2.alt2 {
        background-color: rgb(252, 255, 166) ;
        padding: 10px 10px ;
        color: #000000 ;
        border-radius: 4px ;   
}

.btn-custom {
    background-color: rgb(43, 93, 151);
    padding: 7px 13px;
    color: white !important;
    border: none;
    transition: all 0.2s ease;
}
    /* Efecto Hover para el botón */
    .btn-custom:hover,.btn-custom:active, .btn-custom:focus {
        background-color: rgb(24, 52, 85) !important; 
    }


/* Animaciones Keyframes*/
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

/* Animaciones */
    header, section, footer {
        animation: fadeInUp 0.8s ease-out forwards;
    }

    /* Retrasos escalonados */
    header { animation-delay: 0.1s; }
    section:nth-of-type(1) { animation-delay: 0.3s; }
    section:nth-of-type(2) { animation-delay: 0.5s; }
    section:nth-of-type(3) { animation-delay: 0.7s; }
    footer { animation-delay: 0.9s; }

    /* Hover tarjetas */
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: scale(1.02); /* Crece un poquito */
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }

    p {
        text-align: justify;
        padding: 5px 10px 5px 0px;
    }